#root {
  font-family: "Poppins", sans-serif;
}

/* ------------- Header ------------ */

/* Titulo header */
.brand-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.link-nav {
  color: black !important;
  font-weight: 500 !important;
}

.link-nav:hover {
  color: #b88e2f !important;
}

/* ------------- Banner ------------ */

.banner-container {
  background-image: url("../public/assets/images/banner-home.png");
  background-size: cover;
  background-position: center;
  height: 40vh;
}

.banner-content {
  display: flex;
  background-color: #fff3e3;
  padding: 4.5rem 2.5rem 0rem 2.5rem;
  max-width: 630px;
  height: 300px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  align-items: start;
  align-self: flex-end;
}

/* ------------- HomePage: Section Categories ------------ */

.category-card {
  transition: transform 0.3s ease-in-out;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* ------------- HomePage: Section Products ------------ */

/* Container Card */
.product-card {
  background-color: #f4f5f7 !important;
  border: none;
  border-radius: 0 !important;
  height: 446px !important;
  width: 305px;
}

product-image-container {
  position: relative;
}

.product-card-img {
  border-radius: 0;
}

/* Overlay*/
.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 58, 58, 0.7);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-image-container:hover .product-overlay {
  opacity: 1;
}

/* Tag de desconto */
.card .badge.discount-badge {
  background-color: #e97171 !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

/* Tag de new */
.card .badge.new-badge {
  background-color: #2ec1ac !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.products-btn {
  background-color: #ffffff;
  color: #b88e2f !important;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  font-weight: 600 !important;
  font-size: 16px !important;
  border-radius: 2px !important;
  border: 1px #b88e2f solid !important;
  width: 202px;
  height: 48px;
  transition: all 0.3s ease;
}

.products-btn:hover {
  background-color: #b88e2f !important;
  color: #ffffff !important;
  transform: scale(1.05);
}

/* -------------ShopePage: PageHeader ------------ */

.breadcrumb-link a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb-link a:hover {
  color: #b88e2f;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: url("/assets/icons/arrow-down.svg") !important;
  vertical-align: -0.2em;
}

/* -------------ShopePage: ShopControls ------------ */
.shop-controls-bar {
  background-color: #f9f1e7 !important;
  padding: 1.5rem 2rem;
}

.filter-button,
.view-icon {
  font-weight: 500;
  cursor: pointer;
}

.filter-button img,
.view-icon img {
  margin-right: 8px;
}

.shop-input {
  background-color: white;
  border: 1px solid #9f9f9f;
  box-shadow: none;
  text-align: center;
  width: 60px;
  margin: 0 1rem;
}

.sort-by-select {
  background-color: white;
  border: 1px solid #9f9f9f;
  box-shadow: none;
  width: 180px;
}

/* --- ShopePage: Pagination --- */

.container-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.custom-pagination .page-item .page-link {
  background-color: #f9f1e7;
  color: black;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  width: auto;
  height: auto;
  padding: 10px 25px;
  margin: 1.5rem;
  font-size: 20px;
}

.custom-pagination .page-item.active .page-link {
  background-color: #b88e2f;
  color: white;
}

.custom-pagination .page-item.disabled .page-link {
  background-color: #fdf9f4;
  color: #bdbdbd;
}

/* ------------- Footer ------------ */

.footer-section {
  border-top: 1px solid #d9d9d9;
}

.footer-brand {
  font-size: 24px;
  font-weight: 700;
}

.footer-address {
  font-size: 16px;
  color: #9f9f9f;
  margin-top: 40px;
}

.footer-col-title {
  color: #9f9f9f;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 2.5rem;
}

.footer-nav-link {
  color: black !important;
  font-weight: 500 !important;
  padding: 0 !important;
  margin-bottom: 2rem;
}
.footer-nav-link:hover {
  color: #b88e2f !important;
}

.newsletter-input {
  color: #9f9f9f !important;
  border: none !important;
  border-bottom: 1px solid black !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}

.newsletter-input:focus {
  box-shadow: none !important;
}

.newsletter-input::-webkit-input-placeholder {
  color: #9f9f9f !important;
  font-size: 14px !important;
}

.newsletter-button {
  border: none !important;
  border-bottom: 1px solid black !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  color: black !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  padding: 0 !important;
  margin-top: 15px;
  text-decoration: none !important;
}

.newsletter-button:hover {
  color: #b88e2f !important;
}
